<div class="search-box" [ngStyle]=" {'height': isTableView ? '100px': '180px'}">
	<div>
		<input matInput placeholder="Enter search term">
		<button mat-flat-button color="warn">SEARCH</button>
	</div>
	<span>e.g. MGMT, ADIPOQ, Alzimer's disease</span>
</div>
<div class="cards" *ngIf="!isTableView">
	<mat-card *ngFor="let card of cards" color="primary">
		<mat-card-title>
			<mat-icon>{{card.icon}}</mat-icon>
			<div>{{card.title}}</div>
		</mat-card-title>
		<mat-card-content>
			<mat-divider></mat-divider>
			<p [innerHTML]="card.description"></p>
			<mat-list>
				<mat-list-item *ngFor="let content of card.contents"
					(click)="selectedTable(content.label, card.suffix)">
					<mat-icon>navigate_next</mat-icon> {{content.label}}
				</mat-list-item>
			</mat-list>
		</mat-card-content>
	</mat-card>
</div>
<div class="table-view" *ngIf="isTableView">
	<mat-card>
		<mat-card-actions>
			<button mat-flat-button color="primary" (click)="isTableView = false;">
				BACK
			</button>
			<span>
				<mat-icon style="border-right: 2px solid;
				padding: 0 10px;
				margin: 0 10px;">file_download</mat-icon>
				<mat-icon>filter_alt</mat-icon>Filters:
				<span *ngFor="let filter of filters" [ngClass]="{'filter-active': activeFilters.includes(filter)}"
					(click)="applyFilter(filter)">{{filter}}</span>
			</span>
			<span></span>
		</mat-card-actions>
		<mat-card-title>
			{{tableTitle}}
		</mat-card-title>
		<mat-card-content>
			<table mat-table *ngIf="dataSource.length" [dataSource]="dataSource">
				<ng-container *ngFor="let label of displayedColumns" [matColumnDef]="label">
					<th mat-header-cell *matHeaderCellDef> {{label}} </th>
					<td mat-cell *matCellDef="let element"> {{element[label]}} </td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky : true"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
			<div *ngIf="!dataSource.length">
				No data available to display
			</div>
		</mat-card-content>
	</mat-card>
</div>