<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon>biotech</mat-icon>
    <span>ETrNDD</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-flat-button color="primary">Home</button>
    <button mat-flat-button color="primary">Genes</button>
    <button mat-flat-button color="primary">Downloads</button>
    <button mat-flat-button color="primary">Help</button>
    <button mat-flat-button color="primary">About Us</button>
    <button mat-flat-button color="primary">Feedback</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="outlet-wrapper">
  <router-outlet></router-outlet>
</div>